{% extends "main.html" %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
<div class="header-bar">
    <h2>Смена пароля</h2>
</div>
<div class="container-body">
{% if validlink %}
    <h3 style="text-align:center;">Пожалуйста, введите новый пароль дважды:</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-center">
            <input class="button" type="submit" value="Сменить пароль">
        </div>
    </form>
{% else %}
    <p style="text-align:center;">Ссылка для восстановления пароля не действительна. Пожалуйства повторите попытку восстановления пароля.</p>
{% endif %}
</div>
{% endblock content %}