{% extends 'main.html' %}

{% block title %}Войти{% endblock title %}

{% block content %}
<div class="header-bar">
    <h1>Войти</h1>
</div>
<div class="container-body">
    <form method="POST">
        {% csrf_token %}
        <label>Имя</label>
        {{form.username}}

        <label>Пароль</label>
        {{form.password}}
        <div class="button-center">
            <input class="button" type="submit" value="Войти">
        </div>
    </form>
    <div style="display: flex; justify-content: space-between;">
    <p>Еще нет аккаунта?:  <a href="{% url 'register' %}">Регистрация</a></p>
    <p>Забыли пароль?:  <a href="{% url 'password-reset' %}">Восстановить</a></p>
    </div>
</div>

{% endblock content %}