@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

body {
    background-color: blanchedalmond;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

a, p {
    color: #4b5156
}

a {
    font-weight: 600;
}

.container {
    max-width: 800px;
    margin: auto;
    
}

input {
    outline: none;
    border: none;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 50%, #EB796F 100%);
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    font-size: 18px;
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}

.uncomplete-count {
    display: inline;
}

.container-body {
    padding: 15px;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    background-color: white;
    border-radius: 0 0 20px 20px;
    overflow: hidden
}

.task-wrapper {
    border-top: 1px solid #dfe4ea;
    overflow: hidden;
    background-color: oldlace;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    position: relative;
    
}

.tickline {
    height: 10px;
    width: 100%;
    background-color: #eb695d;
    display: block;
    position: absolute;
    content: "";
    top: 90%;
}


.placeholder {
    background-color:#f1f4f7;
    visibility: visible;
}

.ui-sortable-helper {
    border-radius: 0 !important;
}

.task-wrapper:first-child {
    border-radius: 15px 15px 0 0;
}

.task-wrapper:last-child {  
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #dfe4ea;
}

a.complete-cross {
    text-decoration: line-through !important;
    opacity: 0.5;
}

.task-title {
    display: flex;
    padding: 21px;
    align-items: center;
}

.task-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
}


.task-complete-icon {
    min-width: 26px;
    height: 26px;
    width: 26px;
    background-color: rgb(137, 192, 137);
    border-radius: 50%;
    cursor: pointer;
}


.task-incomplete-icon {
    min-width: 25px;
    height: 25px;
    width: 25px;
    background-color: rgb(184, 183, 183);
    border-radius: 50%;
    cursor: pointer;
}


.task-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.ticklist {
    display: inline-block;
    padding: 22px 16px;
    color:rgb(138, 136, 136);
    font-size: 18px;
}

.delete-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #EB796F;
    font-size: 30px;
    line-height: 0;
    padding: 20px 0px;
}

.handle {
    display: inline-block;
    padding: 22px 16px 19px;
    cursor: grab;
    user-select: none;
}

.handle:after,
.handle:before {
    display: block;
    content: "";
}

.handle:active,
.handle:active:before,
.handle:active:after {
    cursor: grabbing;
}

.dropArea {
    background-color: #f1f2f6;
    color: black;
    border: #ced6e0 1px solid;
}

#add-link {
    color: #EB796F;
    text-decoration: none;
    font-size: 48px;
}

#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width:320px) {
    #search-add-wrapper {
        padding: 10px;
    }
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    max-width: 90%;
    font-size: 18px;
}

input#search-field {
    width: 450px;
    margin-right: 10px;
    font-size: 20px;
}

input#del-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

label {
    padding: 20px 0 5px 10px !important;
    display: block;
    font-size: 20px;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

.button {
    border: 1px solid #757575;
    background-color: rgb(252, 226, 188);
    color: #c4463b;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    min-width: 200px

}

.button-center {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.task-status {
    display: flex; 
    align-items: baseline;
}

.card-body {
    padding: 10px;
}
