{% extends 'base/main.html' %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
<div class="header-bar">
    <h1>Регистрация</h1>
</div>
<div class="container-body">
    <form method="POST">
        {% csrf_token %}
        <label>Имя</label>
        {{form.username}}

        <label>Пароль</label>
        {{form.password1}}

        <label>Повторите пароль</label>
        {{form.password2}}
        <div class="button-center">
            <input class="button" type="submit" value="Регистрация">
        </div>
    </form>
    <p>Уже есть аккаунта?: <a href="{% url 'login' %}">Войти</a></p>
</div>

{% endblock content %}