{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Регистрация</h1>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <label>Имя</label>
        {{form.username}}

        <label>Пароль</label>
        {{form.password1}}

        <label>Повторите пароль</label>
        {{form.password2}}
        <input style="margin-top: 10px;" class="button" type="submit" value="Регистрация">
    </form>
    <p>Уже есть аккаунта?: <a href="{% url 'login' %}">Войти</a></p>
</div>

{% endblock content %}