{% extends 'base/main.html' %}

{% block title %}Новая задачая{% endblock title %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}"> <span id="arrow-symb">&#8592;</span>Назад</a>
</div>

<div class="container-body">
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <label>Задача</label>
            {{form.title}}

            <label>Описание</label>
            {{form.description}}
            
        <div class="button-center">
            <input class="button" type="submit" value="Подтвердить">
        </div>
        </form>
    </div>
</div>

{% endblock content %}