{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Назад</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <label>Задача</label>
        {{form.title}}

        <label>Описание</label>
        {{form.description}}

        <label>Статус выполения</label>
        {{form.complete}}
        
        <label></label>
        <input style="margin-top: 10px;"class="button" type="submit" value="Подтвердить">
    </form>
</div>

{% endblock content %}