{% extends 'base/main.html' %}
{% load static %}
{% block title %}Список задач{% endblock title %}

{% block content %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

<div class="header-bar">
    <div>
        <h1>{{ request.user|title }}</h1>
        <h3 style="margin:0">Количество незаконченных задач: <div class="uncomplete-count">{{ count }}</div></h3>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><b>Выйти</b></a>
    {% else %}
        <a href="{% url 'login' %}"><b>Войти</b></a>
    {% endif %}
</div>

<div class="container-body">
    <div id="search-add-wrapper">
        <form method="GET" style="display: flex;">
            <input id="search-field" type="text", name="search-area", placeholder="поиск задач" value="{{ search_input }}">
            <input class="button"type="submit", value="Поиск">
        </form>
        {% if tasks|length > 0 %}
        <a id="add-link" href= "{% url 'task-create' %}">&#x2b;</a>
        {% endif %}
    </div>
    <div id="tasklist" class="task-items-wrapper">
        {% include 'base/task_wrapper.html' %}
    </div>
</div>

<script>
$(document).ready(function () {
    $('#tasklist').sortable({
        handle: '.handle',
        opacity: 0.7,
        placeholder: 'placeholder',
        forcePlaceholderSize: true,
        stop: function (event, ui) {
            task_change = [];
            let rows = document.getElementsByClassName("task-wrapper");
            let task_order = [];
            for (let row of rows) {
                task_order.push(row.dataset.position);
            }
            $.ajax({
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                type: "POST",
                url: "{% url 'task-reorder' %}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(task_order)
            });
        }
    });
});        
</script>

<script>
let page_num = {{ page_number }};
let block_request = false;
const urlSearch = new URLSearchParams(window.location.search).get('search-area') || "";

$(window).scroll(function() {
    var margin = ($(document).height() - $(window).height()) - 200;
    if ($(window).scrollTop() >= margin && page_num < {{ page_limit }} && block_request == false) {
        block_request = true;
        $.ajax({
            type: "GET",
            url: "{% url 'tasks' %}",
            dataType: "html",
            data: {'search-area': urlSearch, page: ++page_num},
            success: function (data) {
                block_request = false;
                $("#tasklist").append(data).html()
            }
        });
    }
});
</script>

<script>
$(document).ready(function () {
    let uncomplete_count = {{ count }}
    $('.task-incomplete-icon, .task-complete-icon').click(function () {
        let element_class = $(this).attr('class')
        let task_id = this.closest(".task-wrapper").dataset.position;
        if (element_class == 'task-incomplete-icon') {
            $(this).addClass('task-complete-icon');
            $(this).removeClass('task-incomplete-icon');
            $(this).next().addClass('complete-cross');
            $('.uncomplete-count').text(--uncomplete_count);
            
        } else {
            $(this).addClass('task-incomplete-icon');
            $(this).removeClass('task-complete-icon');
            $(this).next().removeClass('complete-cross');
            $('.uncomplete-count').text(++uncomplete_count);
        }
        $.ajax({
            headers: {'X-CSRFToken': Cookies.get('csrftoken')},
            type: 'POST',
            url: '{% url "task-complete" %}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(task_id),
        });
    });
});
</script>

{% endblock content %}