{% extends "main.html" %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
    <h2>Смена пароля</h2>
    {% if validlink %}
        <h3 style="text-align:center;">Пожалуйста, введите новый пароль дважды:</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Сменить пароль"></p>
        </form>
    {% else %}
        <p>Ссылка для восстановления пароля не действительна. Пожалуйства повторите попытку восстановления пароля.</p>
    {% endif %}
{% endblock content %}